
body{
  min-height: 100vh;
  
  background-image: url("./assets/backgroundPerros.png");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}
nav{
  margin:1vh;
  max-width: max-content;
  border-radius: 10%;
}

form{
  display:flex;
  flex-direction:column; 
  align-items:center;
  padding:20px;
}

.centrado{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 40%;
}


.fotitoHeader{
  width:250px;
  height:auto;
}

.buttonForm{
  margin: 10px;
}

header{
  display:flex;
  flex-direction:column; 
  align-items:center;
  background-color: 	#F08080;
  padding:20px;
}

.container{
  width:1000px;
  margin:auto;
}
